numpy==1.26.4
scipy
matplotlib
scikit-learn==1.7.2
scikit-optimize==0.10.2
h5py==3.16.0
pandas

deepxde==1.15.0

tensorflow==2.16.2
tf_keras==2.16.0
protobuf==4.23.4

PyYAML
requests
joblib
cloudpickle